<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>

    <add key="Antang Kalang" value="https://www.windy.com/-1.363/112.546/meteogram?gfs,-1.465,112.546,11,m:dCSajiJ"/>
    <add key="Baamang" value="https://www.windy.com/-2.540/112.946/meteogram?gfs,-2.642,112.946,11,m:dAVajjp"/>
    <add key="Bukit Sentuai" value="https://www.windy.com/-1.759/112.270/meteogram?gfs,-1.862,112.270,11,m:dCfajii"/>
    <add key="Cempaga" value="https://www.windy.com/-2.306/113.036/meteogram?gfs,-2.408,113.036,11,m:dBkajjy"/>
    <add key="Cempaga Hulu" value="https://www.windy.com/-1.821/112.986/meteogram?gfs,-2.644,112.983,8,m:dB6ajjt"/>
    <add key="Kota Besi" value="https://www.windy.com/-2.381/112.977/meteogram?gfs,-2.484,112.977,11,m:dBcajjs"/>
    <add key="Mentawa Baru Ketapang" value="https://www.windy.com/-2.636/112.924/meteogram?gfs,-2.738,112.924,11,m:dALajjn"/>
    <add key="Mentaya Hilir Selatan" value="https://www.windy.com/-2.930/112.880/meteogram?gfs,-3.033,112.880,11,m:dAiajjj"/>
    <add key="Mentaya Hilir Utara" value="https://www.windy.com/-2.790/112.860/meteogram?gfs,-2.893,112.859,11,m:dAwajjh"/>
    <add key="Mentaya Hulu" value="https://www.windy.com/-1.937/112.431/meteogram?gfs,-2.759,112.431,8,m:dBVajiy"/>
    <add key="Parenggean" value="https://www.windy.com/-2.035/112.729/meteogram?gfs,-2.137,112.729,11,m:dBLaji1"/>
    <add key="Pulau Hanaut" value="https://www.windy.com/-2.857/113.025/meteogram?gfs,-2.935,113.025,11,m:dApajjx"/>
    <add key="Seranau" value="https://www.windy.com/-2.622/113.094/meteogram?gfs,-2.725,113.094,11,m:dAMajjE"/>
    <add key="Telaga Antang" value="https://www.windy.com/-1.530/112.530/meteogram?gfs,-1.632,112.530,11,m:dCCajiH"/>
    <add key="Telawang" value="https://www.windy.com/-2.388/112.519/meteogram?gfs,-2.491,112.519,11,m:dBcajiG"/>
    <add key="Teluk Sampit" value="https://www.windy.com/-3.210/112.870/meteogram?gfs,-3.415,112.869,10,m:dzOajji"/>
    <add key="Tualan Hulu" value="https://www.windy.com/-1.867/112.774/meteogram?gfs,-1.969,112.774,11,m:dB2aji6"/>
    <add key="Kuala Pembuang" value="https://www.windy.com/-3.387/112.543/meteogram?gfs,-4.207,112.544,8,m:dzwajiJ"/>
    <add key="Seruyan Hilir" value="https://www.windy.com/-3.254/112.434/meteogram?gfs,-3.459,112.434,10,m:dzJajiy"/>
    

    <add key="Save Location" value="Saved\\"/>
		
	</appSettings>
	
</configuration>